/* Branch Tab Starts Here */
.bankDetails-wrap {
    min-height: 450px;
    .bank-details {
        .active {
            @extend .active;
        }
    }
}
.branch-right-content-area {
    background: #ebf2f6;
    .mdl-layout {
        overflow: hidden;
    }
    .mdl-layout__container {
        position: relative;
    }
    .mdl-layout__tab-bar-container {
        height: 48px;
        overflow: visible;
        background: $white;
        .mdl-layout__tab-bar {
            height: auto;
            padding: 0px;
            background: transparent;
            a {
                background: $dark-blue;
            }
        }
    }
    .branch {
        .mdl-layout__header {
            min-height: 20px;
            padding: 0px;
            box-shadow: none;
            .allBranches {
                background: #999;
                padding: 7px 0 7px 20px;
                overflow: visible;
                width: 100%;
            }
            .mdl-layout__tab-bar-button {
                background: transparent;
            }
        }
        .branch-section {
            background: #f8fcfd;
            overflow: hidden;
            .active {
                padding: 3px 27px;
                text-align: center;
                border-radius: 2px;
                background: #cdefca;
            }
            .pending {
                padding: 3px 20px;
                text-align: center;
                border-radius: 2px;
                background: #fee8c3;
            }
            .deActivated {
                padding: 3px 5px;
                text-align: center;
                border-radius: 2px;
                background: #fec4c3;
            }
            .mdl-data-table {
                width: 100%;
                td:first-of-type {
                    text-align: left !important;
                }
                th {
                    position: relative;
                    vertical-align: bottom;
                    text-overflow: ellipsis;
                    font-weight: 700;
                    line-height: 24px;
                    letter-spacing: 0;
                    height: 48px;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.54);
                    padding-bottom: 8px;
                    box-sizing: border-box;
                    background: #56728e;
                    color: #fff;
                    &:last-child {
                        width: 120px;
                    }
                }
            }
            .search-area {
                .mdl-menu__container {
                    width: 100%;
                    right: 20px !important;
                }
                .bankdetails-select {
                    float: left;
                    width: auto;
                }
                .search input[type=text] {
                    width: 250px;
                    box-sizing: border-box;
                    border: 1px solid #cad1da;
                    border-radius: 4px;
                    font-size: 13px;
                    background-color: white;
                    background-image: url(../img/search.png);
                    background-position: 5px center;
                    background-repeat: no-repeat;
                    padding: 0px 20px 0px 30px;
                    float: right;
                    line-height: 30px;
                    font-weight: 300;
                    margin-top: 15px;
                }
                button.addbtn {
                    float: right;
                    background: #4278ad;
                    height: 32px;
                    width: 100px;
                    border-radius: 2px;
                    margin-right: 10px;
                    font-size: 12px;
                    text-align: center;
                    text-transform: uppercase;
                    margin-top: 15px;
                    i {
                        font-size: 12px;
                        right: -9%;
                        left: auto;
                        top: 50%;
                        position: absolute;
                    }
                }
                .branch-active {
                    float: right;
                    margin-right: 10px;
                }
            }
        }

        .mdl-layout__header-row {
            height: auto;
            padding: 0px;
        }
        .branchTabs {
            min-height: 400px;
            padding: 20px;
            background: $white;
            p {
                font-size: 12px;
                color: #ccc;
                margin: 0px 10px 0 0;
                text-align: right;
                width: 100%;
                span {
                    color: red;
                }
            }
            .contact-details-edit {
                background: #fafafa;
            .contact-details-edit-form {
                padding-bottom: 20px;
                width: 40%;
                .mdl-button {
                    margin-top: 15px;
                }
            }
            }
        }
    }
}
