/*tab content started*/
/*tab menu area*/

.business-right-content-area {
  background: #ebf2f6;
  .mdl-layout__header {
    background: none;
    padding: 0 !important;
    box-shadow: none;
    min-height: 35px;
  }
  .mdl-layout__container {
    position: relative;
  }
  .mdl-layout__tab-bar-container {
    height: 35px;
    overflow: visible;
  }
  .mdl-layout__tab-bar-left-button, .mdl-layout__tab-bar-right-button {
    display: none;
  }
  .mdl-layout__tab-bar {
    background: #999;
    padding: 0;
    overflow: visible;
    height: 35px;
    width: 100%;
  }
  .mdl-layout__tab {
    height: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    border-right: 1px solid #777777;
    &:last-child {
      border: none;
    }
  }
  .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: rgb(255, 255, 255);
    background: #56b93b;
    overflow: visible;
    &::after {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #56b93b;
      animation: inherit;
      transition: inherit;
      bottom: -8px;
      background: none;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*tab page content start*/

.business-info-head {
  min-height: 120px;
  background: #479d2e;
  color: #fff;
  position: relative;
}

.bus-head-logo {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 140px;
  height: 90px;
  line-height: 90px;
  font-size: 70px;
  color: #bbd2e0;
  background: #e9f1f4;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.bus-head-right {
  padding: 30px 0 0 180px;
  h1 {
    font-size: 26px;
    margin: 10px 0 10px 0;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    font-weight: 300;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      font-size: 10px;
      right: -105px;
      top: 4px;
      background: #28581a;
      padding: 5px 10px;
      text-transform: uppercase;
      border-radius: 2px;
      &:before {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid #28581a;
        content: '';
        position: absolute;
        left: -8px;
        top: 5px;
      }
    }
    &:after {
      content: '';
      background: url(../img/bus-head-icon.png);
      width: 21px;
      height: 25px;
      position: absolute;
      margin: 4px 0 0 10px;
      right: -30px;
      top: 0;
    }
  }
}

.bus-info-edit {
  float: right;
  margin: 5px !important;
  background: #30691f !important;
  color: #c9d4c6 !important;
  font-size: 12px !important;
  padding: 0 !important;
  height: 25px !important;
  line-height: 25px !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  i {
    font-size: 16px;
    margin-right: 5px;
  }
}

.bus-services .mdl-button {
  background-color: #408c2a !important;
  color: #d6e3d2 !important;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;
  box-shadow: none;
  font-weight: 600;
}

/*business sub head content start*/

.business-info-head-sub {
  background: #2e5e8e;
  color: #fff;
  min-height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 13px;
  span {
    width: 30%;
    float: left;
    border-right: 1px solid #24496f;
    padding-left: 25px;
    &:last-child {
      border-right: 0 !important;
    }
  }
  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
  }
}

.small-bus {
  text-align: center;
  margin: 0 20px;
  color: #547d96;
  background: rgba(248, 248, 248, 0.8);
  width: 140px;
  float: left;
}

/*business content start*/

.business-info-content {
  background: #f6f6f6;
  font-size: 14px;
  color: #666;
  min-height: 80px;
  padding: 20px;
  line-height: 26px;
  font-weight: 300;
}

/*business info contact details*/

.bus-info-cont-details {
  padding: 20px;
  background: #fff;
  overflow: hidden;
  h2 {
    color: #2e5e8e;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: inherit;
  }
  .bus-info-edit {
    background: #999999 !important;
    color: #fff !important;
    margin: 0 !important;
  }
}

.bus-cont-info {
  border-top: 1px solid #dfdfdf;
  float: left;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 0 0;
}

/*ssdfsdfsdfsdfsdf*/

.bus-left-cont-info, .bus-right-cont-info {
  width: 50%;
  float: left;
}

.bus-left-cont-info {
  .mdl-textfield {
    width: 80%;
  }
  .mdl-textfield__input {
    padding-left: 25px;
  }
  .mdl-textfield__label {
    top: 20px;
    i {
      top: 20px;
      vertical-align: bottom;
    }
  }
  .contact-add-info {
    border-bottom: 1px solid #dfdfdf;
    color: #666666;
    font-weight: 300;
    vertical-align: bottom;
    padding: 20px 0;
    width: 80%;
    i {
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
}

/*sdfsdfsdfsdfsdfsdf*/

.bus-right-cont-info {
  .mdl-shadow--2dp {
    box-shadow: none;
    border: 2px solid #ebf2f6;
    margin-bottom: 15px;
  }
  .mdl-card__actions.mdl-card--border {
    border-top: 0px solid rgba(0, 0, 0, 0.1);
    background: #ebf2f6;
    color: #2e5e8e;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }
}

.contact-details-edit {
  padding: 20px;
  background: #fff;
}

.contact-details-edit-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .name .mdl-textfield, .phone .mdl-textfield {
    width: 49%;
    float: left;
  }
  .name .mdl-textfield:last-child, .phone .mdl-textfield:last-child {
    float: right;
  }
  .formLabel {
    text-align: left;
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    color: #99a6b9;
    font-size: 14px;
    i {
      font-size: 18px;
      margin: 2px 3px 0 -4px;
      float: left;
      color: #7493b1;
    }
  }
  .mdl-textfield {
    width: 100%;
  }
  .mdl-textfield__label {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
  }
  .mdl-checkbox__label {
    font-size: 14px;
    color: #99a6b9;
  }
  .mdl-menu, .mdl-menu__container {
    width: 100% !important;
  }
  .mdl-menu__item {
    text-align: center;
  }
  button.update-btn {
    width: 100%;
    background: #3c6892 !important;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    font-weight: 600;
    border-radius: 0 !important;
  }
}

.business-details-edit .type-of-bus {
  color: #999;
  margin: 20px 0;
  text-align: left;
  button {
    background: none;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0;
    padding: 0 29.5px;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    min-height: 45px;
    &:hover, &.active {
      background: #57b93b;
      color: #fff;
      border-color: #57b93b;
    }
  }
}

.product-cat button {
  font-size: 14px;
  text-transform: capitalize;
  float: left;
  margin: 10px 5px 10px 0;
  background: #999999;
  color: #fff;
  font-weight: 600;
  padding: 0 9px;
  border: 1px solid #898787;
  min-height: 25px;
  line-height: 25px;
  &:hover {
    color: #333;
  }
}

.contact-details-edit-form .product-cat .mdl-textfield {
  width: 20%;
}

/*change pass word css*/

.change-password-wrap {
  background: #fff;
  .contact-details-edit {
    padding: 20px;
    background: #f5f5f5;
  }
  .contact-details-edit-form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

/*bankdetails tab content css*/

.bankDetails-wrap {
  background: #f8fcfd;
  overflow: hidden;
  .mdl-data-table {
    width: 100%;
  }
  .search-area {
    .search input[type=text] {
      width: 250px;
      box-sizing: border-box;
      border: 1px solid #cad1da;
      border-radius: 4px;
      font-size: 13px;
      background-color: white;
      background-image: url(../img/search.png);
      background-position: 5px center;
      background-repeat: no-repeat;
      padding: 0px 20px 0px 30px;
      float: right;
      line-height: 30px;
      font-weight: 300;
      margin-top: 15px;
    }
    button.addbtn {
      float: right;
      background: #4278ad;
      height: 32px;
      width: 100px;
      border-radius: 2px;
      margin-right: 10px;
      font-size: 12px;
      text-align: center;
      text-transform: uppercase;
      margin-top: 15px;
      i {
        font-size: 12px;
        right: -9%;
        left: auto;
        top: 50%;
        position: absolute;
      }
    }
  }
}

.bankdetails-select {
  float: left;
  width: auto;
}

.bankDetails-wrap .search-area .mdl-menu__container {
  width: 100%;
  right: 20px !important;
}

.bankdetails-datatable .mdl-data-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 8px;
  box-sizing: border-box;
  background: #56728e;
  color: #fff;
}
