.right-content-area {
  background: #ebf2f6;
  .mdl-layout__header {
    background: none;
    padding: 0;
    box-shadow: none;
    min-height: 35px;
  }
  .mdl-layout__container {
    position: relative;
  }
  .mdl-layout__tab-bar-container {
    height: 35px;
    overflow: visible;
  }
  .mdl-layout__tab-bar-left-button, .mdl-layout__tab-bar-right-button {
    display: none;
  }
  .mdl-layout__tab-bar {
    background: #999;
    padding: 0;
    overflow: visible;
    height: 35px;
    width: 100%;
  }
  .mdl-layout__tab {
    height: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    border-right: 1px solid #777777;
    &:last-child {
      border: none;
    }
  }
  .mdl-layout.is-upgraded .mdl-layout__tab.is-active {
    color: rgb(255, 255, 255);
    background: #56b93b;
    overflow: visible;
    &::after {
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid #56b93b;
      animation: inherit;
      transition: inherit;
      bottom: -8px;
      background: none;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

/*tab page content start*/

.business-info-head {
  min-height: 120px;
  background: #479d2e;
  color: #fff;
  position: relative;
}

.bus-head-logo {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 140px;
  height: 90px;
  line-height: 90px;
  font-size: 70px;
  color: #bbd2e0;
  background: #e9f1f4;
  border-radius: 10px 10px 0 0;
  text-align: center;
}

.bus-head-right {
  padding: 30px 0 0 180px;
  h1 {
    font-size: 26px;
    margin: 10px 0 10px 0;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    font-weight: 300;
    position: relative;
    display: inline-block;
    span {
      position: absolute;
      font-size: 10px;
      right: -105px;
      top: 4px;
      background: #28581a;
      padding: 5px 10px;
      text-transform: uppercase;
      border-radius: 2px;
      &:before {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid #28581a;
        content: '';
        position: absolute;
        left: -8px;
        top: 5px;
      }
    }
    &:after {
      content: '';
      background: url(../img/bus-head-icon.png);
      width: 21px;
      height: 25px;
      position: absolute;
      margin: 4px 0 0 10px;
      right: -30px;
      top: 0;
    }
  }
}

.bus-info-edit {
  float: right;
  margin: 5px !important;
  background: #30691f !important;
  color: #c9d4c6 !important;
  font-size: 12px !important;
  padding: 0 !important;
  height: 25px !important;
  line-height: 25px !important;
  text-transform: capitalize !important;
  box-shadow: none !important;
  i {
    font-size: 16px;
    margin-right: 5px;
  }
}

.bus-services .mdl-button {
  background-color: #408c2a !important;
  color: #d6e3d2 !important;
  border-radius: 20px;
  text-transform: capitalize;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  padding: 0 15px;
  box-shadow: none;
  font-weight: 600;
}

/*business sub head content start*/

.business-info-head-sub {
  background: #2e5e8e;
  color: #fff;
  min-height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 13px;
  span {
    width: 30%;
    float: left;
    border-right: 1px solid #24496f;
    padding-left: 25px;
    &:last-child {
      border-right: 0 !important;
    }
  }
  a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
  }
}

.small-bus {
  text-align: center;
  margin: 0 20px;
  color: #547d96;
  background: rgba(248, 248, 248, 0.8);
  width: 140px;
  float: left;
}

/*business content start*/

.business-info-content {
  background: #f6f6f6;
  font-size: 14px;
  color: #666;
  min-height: 80px;
  padding: 20px;
  line-height: 26px;
  font-weight: 300;
}

/*business info contact details*/

.bus-info-cont-details {
  padding: 20px;
  background: #fff;
  overflow: hidden;
  h2 {
    color: #2e5e8e;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: inherit;
  }
  .bus-info-edit {
    background: #999999 !important;
    color: #fff !important;
    margin: 0 !important;
  }
}

.bus-cont-info {
  border-top: 1px solid #dfdfdf;
  float: left;
  width: 100%;
  margin-top: 20px;
  padding: 10px 0 0 0;
}

/*ssdfsdfsdfsdfsdf*/

.bus-left-cont-info, .bus-right-cont-info {
  width: 50%;
  float: left;
}

.bus-left-cont-info {
  .mdl-textfield {
    width: 80%;
  }
  .mdl-textfield__input {
    padding-left: 25px;
  }
  .mdl-textfield__label {
    top: 20px;
    i {
      top: 20px;
      vertical-align: bottom;
    }
  }
  .contact-add-info {
    border-bottom: 1px solid #dfdfdf;
    color: #666666;
    font-weight: 300;
    vertical-align: bottom;
    padding: 20px 0;
    width: 80%;
    i {
      vertical-align: bottom;
      margin-right: 10px;
    }
  }
}

/*sdfsdfsdfsdfsdfsdf*/

.bus-right-cont-info {
  .mdl-shadow--2dp {
    box-shadow: none;
    border: 2px solid #ebf2f6;
    margin-bottom: 15px;
  }
  .mdl-card__actions.mdl-card--border {
    border-top: 0px solid rgba(0, 0, 0, 0.1);
    background: #ebf2f6;
    color: #2e5e8e;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
  }
}

.contact-details-edit {
  padding: 20px;
  background: #fff;
}

.contact-details-edit-form {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  .name .mdl-textfield, .phone .mdl-textfield {
    width: 49%;
    float: left;
  }
  .name .mdl-textfield:last-child, .phone .mdl-textfield:last-child {
    float: right;
  }
  .formLabel {
    text-align: left;
    margin: 10px 0px 0px 0px;
    font-weight: 400;
    color: #99a6b9;
    font-size: 14px;
    i {
      font-size: 18px;
      margin: 2px 3px 0 -4px;
      float: left;
      color: #7493b1;
    }
  }
  .mdl-textfield {
    width: 100%;
  }
  .mdl-textfield__label {
    font-size: 14px;
    color: #666666;
    font-weight: 300;
  }
  .mdl-checkbox__label {
    font-size: 14px;
    color: #99a6b9;
  }
  .mdl-menu, .mdl-menu__container {
    width: 100% !important;
  }
  .mdl-menu__item {
    text-align: center;
  }
  button.update-btn {
    width: 100%;
    background: #3c6892 !important;
    text-transform: capitalize;
    font-size: 16px;
    line-height: 45px;
    height: 45px;
    font-weight: 600;
    border-radius: 0 !important;
  }
}

.business-details-edit .type-of-bus {
  color: #999;
  margin: 20px 0;
  text-align: left;
  button {
    background: none;
    box-shadow: none;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0;
    padding: 0 29.5px;
    color: #999;
    font-size: 12px;
    font-weight: 600;
    text-transform: capitalize;
    min-height: 45px;
    &:hover, &.active {
      background: #57b93b;
      color: #fff;
      border-color: #57b93b;
    }
  }
}

.product-cat button {
  font-size: 14px;
  text-transform: capitalize;
  float: left;
  margin: 10px 5px 10px 0;
  background: #999999;
  color: #fff;
  font-weight: 600;
  padding: 0 9px;
  border: 1px solid #898787;
  min-height: 25px;
  line-height: 25px;
  &:hover {
    color: #333;
  }
}

.contact-details-edit-form .product-cat .mdl-textfield {
  width: 20%;
}

/*change pass word css*/

.change-password-wrap {
  background: #fff;
  .contact-details-edit {
    padding: 20px;
    background: #f5f5f5;
  }
  .contact-details-edit-form {
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}

/*bankdetails tab content css*/

.bankDetails-wrap {
  background: #f8fcfd;
  .mdl-data-table {
    width: 100%;
  }
}

.search input[type=text] {
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #cad1da;
  border-radius: 4px;
  font-size: 13px;
  background-color: white;
  background-image: url(../img/search.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  padding: 0px 20px 0px 30px;
  float: right;
  line-height: 30px;
  font-weight: 300;
  margin-top: 15px;
}

.bankDetails-wrap .search-area button.addbtn {
  float: right;
  background: #4278ad;
  height: 32px;
  width: auto;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 15px;
  padding: 0 20px;
  margin-left: 15px;
  i {
    font-size: 12px;
    right: -9%;
    left: auto;
    top: 50%;
    position: absolute;
  }
}

.bankdetails-select {
  float: left;
  width: auto;
}

.bankDetails-wrap .search-area .mdl-menu__container {
  width: 100%;
  right: 26% !important;
}

.bankdetails-datatable .mdl-data-table th {
  position: relative;
  vertical-align: bottom;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  height: 48px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  padding-bottom: 8px;
  box-sizing: border-box;
  background: #56728e;
  color: #fff;
}

/*deals tab css*/

.deals-callout .mdl-cell .mdl-card__media {
  width: 100%;
  background: #fff;
  img {
    width: 100%;
    background: #fff;
  }
}

.deal-clout-img {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  background-color: #000000;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  img {
    vertical-align: top;
    max-width: 100%;
    backface-visibility: hidden;
  }
  figcaption {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    border: 0px solid #ffffff;
    overflow: hidden;
    padding: 0;
    box-shadow: none;
  }
  h3 {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 2px 15px;
    margin: 0;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    background-color: #57b93b;
    -webkit-transform: translate(0%, 100%);
    transform: translate(0%, 100%);
    color: #fff;
    text-align: center;
    opacity: 0;
    border-radius: 4px;
    line-height: 30px;
  }
}

.mdl-button.loading {
  padding: 2px 35px;
  margin: 30px auto 10px;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  border: 1px solid #57b93b;
  color: #57b93b;
  text-align: center;
  opacity: 1;
  border-radius: 4px;
  line-height: 30px;
  background: #fff;
}

.deal-clout-img {
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &:hover > img, &.hover > img {
    opacity: 0.5;
  }
  &:hover h3, &.hover h3 {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 1;
  }
}

.deals-callout {
  .mdl-card__title {
    padding: 0;
    position: relative;
  }
  .mdl-card__title-text {
    position: absolute;
    font-size: 13px;
    color: #40e910;
    padding: 5px 5px 5px 20px;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    top: -40px;
    font-weight: 600;
    height: 25px;
    line-height: 25px;
    &:before {
      content: '';
      content: '';
      background: #40e910;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 5px;
      border-radius: 50%;
      top: 12px;
    }
  }
  .mdl-typography--subhead {
    color: #333333;
    font-size: 13px;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
  }
  .mdl-card__actions {
    padding: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    position: relative;
    .material-icons {
      color: #999;
      background: #f9f9f9;
      width: 25%;
      text-align: center;
      margin: 0;
      padding: 0;
      float: left;
      line-height: 40px;
      font-size: 27px;
      position: relative;
      cursor: pointer;
      &:hover {
        color: #4278ad;
      }
      &:after {
        content: '';
        background: #eee;
        width: 1px;
        height: 100%;
        position: absolute;
        right: 0;
      }
    }
  }
}

/*#hover, #hover2, #hover3 {
    background: #eeeeee;
    padding: 6px;
    display: block;
    position: relative; 
    float: left;
}*/

.popup-main:hover {
  background: #dddddd;
}

.popup {
  opacity: 0;
  position: absolute;
  bottom: 40px;
  background: #fafafa;
  border: 1px solid transparent;
  border-radius: 6px;
  height: 0px;
  padding: 0 12px;
  overflow: hidden;
  width: 100%;
}

.popup-main:hover .popup {
  height: auto;
  opacity: 1;
  border: 1px solid #eeeeee;
  width: 100%;
  left: 0;
  padding: 10px 10px;
  background: #4278ad;
  color: #fff;
  border-radius: 0;
  font-size: 12px;
}

.deals-callout .mdl-card__actions .material-icons:hover:before {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4278ad;
  animation: inherit;
  transition: inherit;
  bottom: 34px;
  background: none;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  position: absolute;
  z-index: 99999;
}

/*dealidcopy panel pop up css start*/

.dealidcopy-panel {
  margin: 15px;
  background: #ebf2f6;
  border: 1px dashed #cfdae1;
  min-height: 62px;
  color: #457a99;
  font-size: 14px;
  line-height: 60px;
  span {
    background: #457a99;
    /* height: 62px; */
    float: left;
    width: 60px;
    text-align: center;
    padding: 12px 20px;
    color: #fff;
    margin-right: 15px;
    line-height: normal;
  }
}

.deal-preview-subhead {
  margin: 0;
  padding: 0 15px;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  min-height: 35px;
  background: #ebf2f6;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
}

.deal-img-panel {
  padding: 15px;
  img {
    margin-right: 15px;
  }
}

.deal-preview {
  h2 {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 18px;
    color: #013a71;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    line-height: normal;
    span {
      display: block;
      font-size: 12px;
    }
  }
  p {
    color: #333333;
    font-size: 14px;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 5px;
    span {
      color: #013a71;
    }
  }
}

.join-group-wrap, .buy-now-wrap {
  text-align: center;
  margin-bottom: 15px;
}

.join-group-wrap h5 {
  display: block;
  font-size: 14px;
  background: rgb(46, 151, 40);
  color: #fff;
  border-radius: 5px 5px 0 0;
  height: 34px;
  line-height: 34px;
  margin: 0;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
}

.buy-now-wrap h5 {
  display: block;
  font-size: 14px;
  background: rgb(46, 151, 40);
  color: #fff;
  border-radius: 5px 5px 0 0;
  height: 34px;
  line-height: 34px;
  margin: 0;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
  background: #00366a;
}

.join-group-wrap h3 {
  display: block;
  font-size: 30px;
  background: #3aa134;
  color: #fff;
  border-radius: 0 0 5px 5px;
  height: 54px;
  line-height: 54px;
  margin: 0;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
  font-weight: 300;
}

.buy-now-wrap h3 {
  display: block;
  font-size: 30px;
  background: #3aa134;
  color: #fff;
  border-radius: 0 0 5px 5px;
  height: 54px;
  line-height: 54px;
  margin: 0;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
  font-weight: 300;
  background: #013a71;
}

.edit-deal {
  text-align: center;
  font-size: 16px;
  border-top: 2px solid #000;
  height: 40px;
  color: #013a71;
  line-height: 40px;
  a {
    text-decoration: none;
    color: #013a71;
    outline: none;
  }
}

/*form related css*/

.totaldeal-left .contact-details-edit-form {
  width: 100%;
}

.pull-right {
  float: right;
}

.clearboth {
  clear: both;
}

.totaldeal-left {
  .mdl-textfield__input {
    font-size: 15px;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    color: #666;
    font-weight: 300;
  }
  .mdl-radio.is-upgraded {
    padding-left: 24px;
    float: left;
    font-size: 15px;
    color: #666;
    font-weight: 300;
    font-size: 14px;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
  }
}

.material-icons.calendar {
  position: absolute;
  transform: inherit;
  margin-top: 0;
  right: 0;
  top: 20px;
  color: #666;
}

.size-categories {
  span {
    float: left;
    width: 19%;
    margin-right: 1%;
  }
  &.weight-cat {
    span {
      width: 39%;
    }
    &.categoreis span {
      width: 26%;
      margin: 8px 0 15px 0;
      border: 1px solid #ccc;
      &:hover {
        border: 1px solid #57b93b;
      }
    }
  }
}

.size {
  float: left;
  width: 20%;
  .mdl-button {
    width: 88%;
    float: left;
    margin: 10px 0 0 0;
    overflow: visible;
    text-align: left;
    text-transform: capitalize;
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-right: 0;
    padding-left: 7px;
    &:after {
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 8px solid #ececec;
      content: '';
      position: absolute;
      right: -9px;
      z-index: 999;
      top: 10px;
    }
  }
}

/*deal right content css start*/

.upload-img {
  text-align: center;
}

.upload-success {
  text-align: center;
  margin: 20px 0;
  span {
    font-size: 14px;
    color: #57b93b;
    font-weight: 500;
  }
}

.upload-suc-images {
  span {
    position: relative;
    width: 32%;
    display: inline-block;
    margin: 10px 0;
    i {
      position: absolute;
      z-index: 99;
      right: -5px;
      top: -10px;
      color: red;
      background: white;
      border-radius: 50%;
      cursor: pointer;
    }
  }
  margin-top: 15px;
}

.suc-img-btn .mdl-button {
  width: 100%;
  float: left;
  margin: 0 0 10px 0;
  text-align: center;
  text-transform: capitalize;
  font-family: "Montserrat","Helvetica","Arial",sans-serif;
  font-weight: 500;
  font-size: 14px;
  background: #57b93b;
  height: 40px;
  line-height: 40px;
  color: #fff;
  box-shadow: none;
  &.savedraftbtn {
    background: #fff;
    color: #013a71;
    border: 1px solid #ccc;
    height: 40px;
  }
}

/*css accordian started*/

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  text-align: left;
  label.accordian-label {
    font-family: "Montserrat","Helvetica","Arial",sans-serif;
    padding: 5px 20px;
    position: relative;
    z-index: 20;
    display: block;
    height: 30px;
    cursor: pointer;
    color: #777;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    line-height: 33px;
    font-size: 15px;
    background: #ffffff;
    border: 1px solid #ccc;
    box-shadow: none !important;
    &:hover {
      background: #fff;
    }
  }
  input.accordian-input:checked + label.accordian-label {
    background: none;
    color: #013a71;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 18px;
    &:hover {
      background: none;
      color: #013a71;
      text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
      box-shadow: 0px 0px 0px 1px rgba(155, 155, 155, 0.3), 0px 2px 2px rgba(0, 0, 0, 0.1);
      border: none;
      font-size: 18px;
    }
  }
  label.accordian-label:hover:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    background: transparent url(../img/arrow_down.png) no-repeat center center;
  }
  input.accordian-input {
    &:checked + label.accordian-label:hover:after {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      right: 13px;
      top: 7px;
      background: transparent url(../img/arrow_down.png) no-repeat center center;
      background-image: url(../img/arrow_up.png);
    }
    display: none;
  }
  article {
    background: #fff;
    margin-top: -1px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    p {
      font-style: italic;
      color: #777;
      line-height: 23px;
      font-size: 14px;
      padding: 20px;
      text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    }
  }
  input.accordian-input:checked ~ article {
    -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
    /*  box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);*/
    &.ac-small {
      height: auto;
    }
  }
}

/*upload img popup css start*/

.upload-img-popup {
  .mdl-tabs__tab-bar {
    background: #e0ecf8;
    display: block;
  }
  .mdl-tabs.is-upgraded .mdl-tabs__tab {
    font-size: 14px;
    text-transform: capitalize;
    outline: none;
    margin: 5px 0 0 5px;
    height: 43px;
    line-height: 43px;
    &.is-active {
      color: rgba(0, 0, 0, 0.87);
      background: #fff;
      border-radius: 5px 5px 0 0;
      &:after {
        display: none;
      }
    }
  }
  .mdl-tabs__panel .upload-img-popup-first {
    padding: 20px 30px;
    margin: 0;
    width: 100%;
    h2 {
      color: #999;
      font-size: 20px;
      font-family: "Montserrat","Helvetica","Arial",sans-serif;
      margin: 0 0 15px 0;
      font-weight: 300;
    }
  }
}

.dropfiles-wrap {
  position: relative;
  border: 2px dashed #999;
  min-height: 260px;
}

.dropfiles-wrap-inner {
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  h1 {
    font-size: 36px;
    color: #999;
    margin: 0;
    font-weight: 300;
    span {
      display: block;
      font-size: 24px;
      text-align: center;
      margin-top: 10px;
    }
  }
  #upload-file-selector {
    display: none;
  }
  .mdl-button {
    background: #9d9d9d;
    color: #fff;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;
    margin: 20px auto;
    display: block;
    height: 40px;
    line-height: 40px;
  }
}

.upload-lmt {
  font-size: 12px;
  padding: 15px 0;
  font-weight: 300;
  float: right;
}

.upload-img-popup .search input[type=text] {
  width: 100%;
  margin: 8px 0 0 5px;
}

.upload-deal-cont {
  color: #999;
  font-size: 14px;
  font-weight: 300;
}

.mar0 {
  margin: 0 !important;
}

.pad0 {
  padding: 0 !important;
}

.upload-thumb {
  background: #e0ecf8;
  text-align: center;
  min-height: 140px;
  line-height: 125px;
  border-radius: 4px;
  &.active:after {
    content: '\2713';
    font-size: 34px;
    width: 40px;
    height: 40px;
    /* background: red; */
    border-radius: 50%;
    display: inline-block;
    /* position: relative; */
    /* left: 50%; */
    /* top: 50%; */
    color: #24486b;
    /* float: left; */
    /* transform: translate(-50%, -50%); */
  }
}

.mdl-grid.totaldeal-wrap {
    background: #f7f7f7;
}