/* Log In Pop-up Starts Here */

.logInPopup {
    .mdl-dialog {
        width: 80%;
        padding: 0px;
        .mdl-dialog__content {
            padding: 0px;
            .mdl-tabs {
                .mdl-tabs__tab-bar {
                    border-bottom: 0px;
                    border-top: 3px solid #787878;
                    a {
                        overflow: visible;
                        i {
                            display: block;
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                            top: -18px;
                            background: #ccc;
                            border-radius: 50%;
                            padding: 6px;
                            z-index: 9;
                        }
                    }
                    .mdl-tabs__tab {
                        line-height: 70px;
                    }
                    .mdl-tabs__tab.is-active:after {
                        top: -3px;
                    }
                    .mdl-tabs__tab.is-active:before {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 12px solid #dcf3d7;
                        animation: inherit;
                        transition: inherit;
                        bottom: -8px;
                        background: none;
                        left: 50%;
                        transform: translateX(-50%);
                        position: absolute;
                    }
                }
                .mdl-tabs__panel {
                    padding: 0px;
                    .panel-message {
                        background: #dcf3d6;
                        padding: 10px;
                        text-align: center;
                        color: $black;
                    }
                    .logInForm {
                        width: 50%;
                        margin: 0 auto;
                        text-align: center;
                        .mdl-button {
                            width: 100%;
                        }
                        .mdl-textfield {
                            width: 100%;
                        }
                        .businessDetails {
                            .mdl-button {
                                width: 22%;
                            }
                            .mdl-textfield {
                                width: 30%;
                                float: left;
                                margin-right: 10px;
                                .mdl-textfield__input {
                                    width: 100%;
                                }
                            }
                        }
                        .taxID {
                            .mdl-textfield {
                                width: 48%;
                                float: left;
                                margin-right: 10px;
                            }
                        }
                    }
                    .contactDetails {
                        width: 50%;
                        margin: 0 auto;
                        text-align: center;
                        .name, .phone {
                            .mdl-textfield {
                                width: 49%;
                            }
                        }
                        .formLabel {
                            text-align: left;
                            margin: 10px 0px 0px 0px;
                            font-weight: 400;
                            color: #3a6590;
                            i {
                                font-size: 16px;
                            }
                        }
                        .mdl-textfield {
                            width: 100%;
                        }
                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}